body {
  background-color: aliceblue;
}
a {
  color: blue;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}
h1 {
  font-weight: 800;
  line-height: 1.5;
  font-size: 36px;
  text-align: center;
}

header {
  margin-bottom: 30px;
}

form {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-bottom: 30px;
}
.instructions {
  padding: 16px;
  border: 1px solid;

  width: 80%;
  font-size: 16px;
  line-height: 20px;
  border-radius: 20px;
}
.submit-button {
  margin-left: 10px;
  border-radius: 20px;
  padding: 16px 24px;
  font-size: 16px;
  width: 150px;
  background-color: blue;
  color: #fff;
}
.poem {
  font-size: 16px;
  background-color: #fff;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid blue;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
footer {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}
