body {
  background-color: black;
  background-image: url("https://images7.alphacoders.com/135/thumb-1920-1353023.png");
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: Georgia, "Times New Roman", Times, serif;
}
a {
  color: rgb(76, 76, 160);
}
.container {
  margin: 110px auto;
  max-width: 600px;
}
h1 {
  font-weight: 800;
  line-height: 1.5;
  font-size: 36px;
  text-align: center;
}
.form-container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-bottom: 30px;
  padding: 30px;

  border-radius: 10px;
}

header {
  margin-bottom: 30px;
}

form {
  display: flex;
}
.hint {
  line-height: 1.5;
  font-size: 12px;
  margin-top: 7px;
  opacity: 0.6;
}

.instructions {
  padding: 16px 24px;
  border: 1px solid;
  width: 80%;
  font-size: 16px;
  line-height: 20px;
  border-radius: 20px;
}
.submit-button {
  margin-left: 10px;
  border-radius: 20px;
  padding: 16px 24px;
  font-size: 16px;
  width: 150px;
  background-color: rgb(76, 76, 160);
  color: #fff;
  border: 1px solid;
  line-height: 20px;
}
.poem {
  font-size: 16px;
  background-color: #fff;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid rgb(76, 76, 160);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.hidden {
  display: none;
}
footer {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
  color: #fff;
  font-weight: 530;
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
